/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h2 {
  cursor: pointer;
  color: #007bff;
  transition: color 0.2s ease;
}

.header h2:hover {
  color: #0056b3;
  text-decoration: underline;
}

.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffffcc;
  border: 1px solid rgba(148, 163, 184, 0.25);
  border-radius: 14px;
  padding: 18px 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(6px);
}

.header h2 {
  font-size: 1.6rem;
  font-weight: 600;
  background: linear-gradient(90deg, #2563eb, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#refreshBtn {
  background: linear-gradient(90deg, #3b82f6, #06b6d4);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 1.05rem;
  cursor: pointer;
  color: white;
  transition: all 0.25s;
}

#refreshBtn:hover {
  transform: scale(1.06);
  box-shadow: 0 0 12px rgba(59, 130, 246, 0.35);
}



.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Inputs & Buttons */
#investment {
  padding: 8px 14px;
  width: 160px;
  background: #f8fafc;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  color: #0f172a;
  font-size: 0.95rem;
  outline: none;
}

#investment:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.portfolio-link {
  background: linear-gradient(90deg, #3b82f6, #06b6d4);
  color: white;
  text-decoration: none;
  padding: 7px 14px;
  border-radius: 8px;
  font-weight: 500;
  transition: transform 0.2s, box-shadow 0.2s;
  font-size: 0.9rem;
}

.portfolio-link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.3);
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.home-link {
  text-decoration: none;
}

.about-btn {
  background: linear-gradient(90deg, #3b82f6, #06b6d4);
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  border: 0px;
  font-weight: 500;
  transition: transform 0.2s, box-shadow 0.2s;
  font-size: 0.9rem;

}

.about-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.3);
}